header {
    background-color: green;
}

p{
    background-color: teal;
}

header {
    padding: 1em;
    margin: 2em;
}

p {
    border: 5px dotted blue;
    width: 300px;
}
.fixed-width-1 {
    margin: auto;
}
